<div class="row my-5">
    <div class="col-sm-6">
       <div class="card bg-dark">
          <div class="card-body text-light">
             <img class="card-img-top" src="/assets/img/films.jpg" />
             <h1 class="card-title mt-3">Films</h5>
             <p class="card-text">You can reach all movies. Have a good time.</p>
             <a href="#/Films" class="btn btn-warning">All Films > </a>
          </div>
       </div>
    </div>
    <div class="col-sm-6">
       <div class="card bg-dark">
          <div class="card-body text-light">
            <img class="card-img-top" src="/assets/img/films.jpg" />
             <h1 class="card-title mt-3">Series</h5>
             <p class="card-text">You can reach all series. Have a good time.</p>
             <a href="#/Series" class="btn btn-warning">All Series > </a>
          </div>
       </div>
    </div>
 </div>