<header>
    <nav class="navbar navbar-light bg-dark justify-content-between fixed-top">
       <div class="container">
          <a href="#/" class="navbar-brand text-light font-weight-bold">DEMO Streaming</a>
          <div>
             <a href="#/" class="btn btn-dark mr-2">Home</a>
             <a href="#Films" class="btn btn-dark mr-2">Films</a>
             <a href="#Series" class="btn btn-dark mr-2">Series</a>
             <button type="button" class="btn btn-dark mr-2">Log in</button>
             <button type="button" class="btn btn-light">Start Your Free Trial</button>
          </div>
       </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
       <div class="container pt-5">
          <h1 class="display-4" ng-bind="title">Popular Titles</h1>
          <p class="lead">You can easily access all popular titles.</p>
       </div>
    </div>
 </header>